/* Your Styles Here lol */

img {
    border-radius: 50%;
    width: 30%;
    height: auto;
  }
div {
    word-wrap: break-word;
    width: 100px;
 }
body {
    margin: 50px;
    background: rgb(142, 217, 183);
    text-align: center;
}
