/* Your Styles Here */

img {
    border-radius: 50%;
    width: 20%;
    height: auto;
  }
div {
    /* width: 1000px; */
    font-size: 20px;
    text-align: center;
 }
body {
    margin: 1000px;
    background: rgb(142, 217, 183);
    text-align: center;
}
